PORT=8080
HOST=127.0.0.1
TAB_DB_PATH=./data/project-tab.db
TAB_ADMIN_USERNAME=admin
TAB_ADMIN_PASSWORD=replace-with-a-long-unique-password
TAB_ADMIN_NAME=TAB Administrator
TAB_SESSION_HOURS=12
TAB_SECURE_COOKIES=false
TAB_TRUST_PROXY=false
